{{ "hb-custom-header.css" | asset_url | stylesheet_tag }}
{% comment %} <div class="hb_header-manu-section">
    <div class="hb_header-manu">
        <div class="page-width">
            <div class="hb_header-manu__wrapper">
                <div class="hb_header_logo">{{section.settings.header_logo}}</div>
                <div class="hb_header__manu">
                    <ul class="hb_header__manu-list">
                        {%- for linkslist in section.settings.choose_manu.links -%}
                            {%- assign linktitle = linkslist.title | downcase -%}
                                <li class="hb_header__manu-item">
                                    <a href="#">{{ linkslist.title }} 
                                        {%- if linkslist.links.size > 0 -%}
                                            <span class="drop_down_arrow">
                                                <svg width="8" height="6" viewBox="0 0 8 6">
                                                    <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                                                </svg>
                                            </span>
                                        {%- endif -%}
                                    </a>
                                    <div class="hb_header__child-manu">
                                        <ul class="hb_header__child-manu-list">
                                            {%- for childmanu in linkslist.links -%}
                                            <li class="hb_header__child-manu-item">
                                                <a href="#">{{ childmanu.title }}
                                                    {%- if childmanu.links.size > 0 -%}
                                                        <span class="drop_down_arrow">
                                                            <svg width="8" height="6" viewBox="0 0 8 6">
                                                                <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                                                            </svg>
                                                        </span>
                                                    {%- endif -%}
                                                </a>
                                                <div class="hb_header__grand-child-manu">
                                                    <ul class="hb_header__grand-child-manu-list">
                                                        {%- for granchildmanu in childmanu.links -%}
                                                        <li class="hb_header__grand-child-manu-item">
                                                            <a href="#">{{ granchildmanu.title }}</a>
                                                        </li>
                                                        {%- endfor -%}
                                                    </ul>
                                                </div>
                                            </li>
                                            {%- endfor -%}
                                        </ul>
                                    </div>
                                {%- render 'hb-mega-manu', links: linkslist , link_title:linktitle -%}
                                </li>
                        {%- endfor -%}
                    </ul>
                </div>

                <div class="hb_header__icon">
                    <div class="hb_header__icon-search">
                        icon
                    </div>
                    <div class="hb_header__icon-logIn">
                        icon
                    </div>
                    <div class="hb_header__icon-atc">
                        icon
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  {% endcomment %}
<div class="hb_custom-header">
    <div class="page-width">
        <div class="hb_custom-header__wrapper hb-flex">
            <div class="hb_custom-header__shope-name">
               <a href="{{ routes.url }}">{{ shop.name }}</a> 
            </div>
            <ul class="hb_custom-header__menu hb-flex">
                {%- for link in linklists[section.settings.choose_menu].links -%}
                  <li class="hb_custom-header__menu--item hb-flex">
                    <a href="{{ link.url }}" class="hb_custom-header__links">{{ link.title }}</a>
                    {%- if link.links.size > 0  -%}
                        <span class="drop_down_arrow">
                            <svg width="8" height="6" viewBox="0 0 8 6">
                                <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                            </svg>
                        </span>
                    {%- endif -%}
                  </li>
                  {%- if link.links.size > 0 -%}
                    <div class="hb_custom-header__menu-submenu">
                      <ul class="hb_custom-header__menu--submenu-list">
                          {%- for submenu in link.links -%}
                              <li >
                                  <a class="hb_custom-header__submenu-link" href="{{ submenu.url }}" class="hb_custom-header__links">{{ submenu.title }}</a>
                                  {%- if submenu.links.size > 0  -%}
                                      <span class="drop_down_arrow">
                                          <svg width="8" height="6" viewBox="0 0 8 6">
                                              <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                                          </svg>
                                      </span>
                                  {%- endif -%}
                                </li>
                          {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "header with megamenu",
    "settings": [
      {
        "type": "link_list",
        "id": "choose_menu",
        "label": "Choose menu"
      },
    ],
    "presets": [
      {
        "name": "header with megamenu",
        "settings": {
        }
      }
    ]
  }
{% endschema %}