{{ "hb-faq.css" | asset_url | stylesheet_tag }}
<div class="hb_faq">
    <div class="page-width">
        <div class="hb_faq__wrapper">
            {%- if section.settings.title != blank -%}
                <div class="hb_faq__title">
                    {{ section.settings.title }}
                </div>
            {%- endif -%}
            {%- for block in section.blocks -%}
                <div class="hb_faq__content">
                    <div class="hb_faq__content--question">
                        {%- if block.settings.question != blank -%}
                            <h3 class="hb_faq__question">
                                {{ block.settings.question }}
                            </h3>
                        {%- endif -%}
                        <div class="hb_faq__content--sign">
                            <div class="hb_faq__content--sign-plus">
                                +
                            </div>
                            <div class="hb_faq__content--sign-minus">
                                -
                            </div>
                        </div>
                    </div>
                    {%- if block.settings.answer != blank -%}
                        <div class="hb_faq__answer">
                            {{ block.settings.answer }}
                        </div>
                    {%- endif -%}
                </div>
            {%- endfor -%}
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "name": "Questions",
        "type": "faq",
        "settings": [
           {
             "type": "text",
             "id": "question",
             "label": "Question"
           },
           {
             "type": "richtext",
             "id": "answer",
             "label": "Answer"
           }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ",
        "settings": {
        }
      }
    ]
  }
{% endschema %}
<script src="{{ 'faq.js' | asset_url }}" defer></script>